.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color:#6699FF!important;
    background-color: white !important;
}
.mobilelogo{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}
.navitems{
font-family: 'Product Sans Medium', sans-serif;
font-size: 18px !important;
color: #5F6368;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.005em;
align-content: center;
background-color: aqua;
    padding: 15px;
}
.navbar-toggle{
    margin-top: 20px !important;
}

.navbar-nav {
    width: 100%!important;
    text-align: center!important;
    height: 110px !important;
    
}

.navbar-default{
    background-color: white!important;
    border-width: 0px 0px 2px 0px !important;
    border-color: #605d66 !important;
    border-radius: 0px !important;
}


#navcss{
float:none !important;
display: inline-block!important;
margin-top: 15px;
padding-right: 22.5px;    
}
#navcss2{
    float:none !important;
display: inline-block!important;
margin-top: 15px;
padding-right: 22.5px;    

}
#navcss2 a{
font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 18px !important;
line-height: 30px;
color: #5F6368;
letter-spacing: -0.015em;
margin-left: 80px;
}

#navcss a{
font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 18px !important;
line-height: 30px;    
color: #5F6368;
letter-spacing: -0.015em;
}



.navcss1{
margin-top: 30px;
}

.logocss img{
width: 31px;
height: 31px;
margin-top: 25px;
margin-right: 14px;
}

.img1{
    margin-left: 25px;
    margin-top: 25px;
}

.flex-container {
    display: flex;
}
.flex-container2 {
    display: flex;
    text-align: center;
}

.flex-child {
    flex: 1;
    
    
}  

.flex-child:first-child {
    margin-right: 5px;
    margin-top: 80px;
    margin-left: 75px;
}
.flex-child2{
    margin-left: 100px;}

.heroimage{
    margin-top: 30px;
    margin-left: 50px;
}
.fontStyle{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 36px;
letter-spacing: -0.015em;
text-align: left;
color: #5F6368;    
margin-top: 170px;
margin-left: 40px;    
}

.fontStyle1{
font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 22px;
color: #5F6368;    
letter-spacing: -0.015em;
text-align: left;
margin-left: 40px;
margin-top: 10px;
}

.fontStyle2{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 24px;
color: #5F6368;    
line-height: 30px;
letter-spacing: -0.015em;
text-align: left;
margin-top: 180px;
}
.fontStyle3{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: #5F6368;    
letter-spacing: -0.015em;
text-align: left;
margin-top: 100px;
margin-bottom: 50px;
}

.fontStyle4{
font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.015em;
text-align: justified;
margin-top: 25px;
}

.fontStyle5{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
color: #5F6368;    
letter-spacing: -0.015em;
text-align: left;
margin-top: 25px;
margin-bottom: 50px;
}

.fontStyle6{
font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;    
letter-spacing: -0.015em;
text-align: left;
margin-top: 5px;

}

.projectThumbnail{
    margin-top: 60px;
    border-radius: 25px;
   
}

.rowmairgin{
    margin-top: 15px;
}
.rowmargin1{
    margin-top: 35px;
    padding: 0px !important;
}
.projrectangle{
    background-color: #F2F2F6;
    height: 200px;
    width: auto;
    border-radius: 25px;    
}
.projrectangle2{
    background-color:#E0FBFF;
    height: 200px;
    width: auto;
    border-radius: 25px;    
}


.projrectangle1{
    background-color: white;
    height: 50px;
    border-radius: 25px;
    margin-top: -25px;
    border: 1px solid #DADCE0;
}
.projrectangle3{
   background-color:#F7F6F1;
    height: 200px;
    width: auto;
    border-radius: 25px;
    
}

.projlogo{
    align-content: center;
    margin-top: 50px;
    padding-left: 25px;
}
.projtext{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.015em;
text-align: center;
margin-top: -40px;
color:#006878;
}
.projtext1{
font-family: 'Product Sans', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.005em;
text-align: center;
margin-top: -40px;
color:#4692F8;
}

.projtext2{
font-family: 'Product Sans', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.005em;
text-align: center;
margin-top: -40px;
color:#6C6C6E;
;
}




.projshortdesc{    
border-radius: 25px;
border: 0px;
height: 30px;
margin-top: 25px;
}


.fontStyle7{
font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 30px;    
letter-spacing: -0.015em;
text-align: center;

}
.fontStyle8{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 30px;    
letter-spacing: -0.015em;
color: #5F6368!important;
}

.toolstext{
    padding: 8px;
}

.negmargin{
    border-radius: 25px;
border: 1px solid #DADCE0;

    margin-top: -30px;
    margin-bottom: 80px;
}

.desctextleft{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;    
letter-spacing: -0.015em;
text-align: left;
margin-bottom: 25px;
color: #5F6368!important;
background-color:#E0FBFF;
border-radius: 25px;
padding-top:10px;
padding-bottom: 10px;
padding-left: 25px;
padding-right: 20px;    
width:250px;    
}
.desctextleft1{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;    
letter-spacing: -0.015em;
text-align: left;
margin-bottom: 25px;
color: #5F6368!important;
background-color:#E0FBFF;
border-radius: 25px;
padding-top:10px;
padding-bottom: 10px;
padding-left: 25px;
padding-right: 20px;    
width:150px;      
}
.desctextleft2{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;    
letter-spacing: -0.015em;
text-align: left;
margin-bottom: 25px;
color: #5F6368!important;
background-color:#E0FBFF;
border-radius: 25px;
padding-top:10px;
padding-bottom: 10px;
padding-left: 25px;
padding-right: 20px;    
width:170px;      
}
.desctextleft3{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;    
letter-spacing: -0.015em;
text-align: left;
margin-bottom: 25px;
color: #5F6368!important;
background-color:#E0FBFF;
border-radius: 25px;
padding-top:10px;
padding-bottom: 10px;
padding-left: 25px;
padding-right: 20px;    
width:180px;      
}
.desctextleft4{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;    
letter-spacing: -0.015em;
text-align: left;
margin-bottom: 25px;
color: #5F6368!important;
background-color:#E0FBFF;
border-radius: 25px;
padding-top:10px;
padding-bottom: 10px;
padding-left: 25px;
padding-right: 20px;    
width:200px;      
}
.desctextleft5{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;    
letter-spacing: -0.015em;
text-align: left;
margin-bottom: 25px;
color: #5F6368!important;
background-color:#E0FBFF;
border-radius: 25px;
padding-top:10px;
padding-bottom: 10px;
padding-left: 25px;
padding-right: 20px;    
width:280px;      
}
.desctextleft6{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;    
letter-spacing: -0.015em;
text-align: left;
margin-bottom: 25px;
color: #5F6368!important;
background-color:#F2F2F6;
border-radius: 25px;
padding-top:10px;
padding-bottom: 10px;
padding-left: 25px;
padding-right: 20px;    
width:250px;  
}
.desctextright{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;    
letter-spacing: -0.015em;
text-align: left;
margin-bottom: 25px;
color: #5F6368!important;
background-color:#E0FBFF;
border-radius: 25px;
padding-top:10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;    
width:150px;          
}

.desctextright1{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;    
letter-spacing: -0.015em;
text-align: left;
margin-bottom: 25px;
color: #5F6368!important;
background-color:#F2F2F6;
border-radius: 25px;
padding-top:10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;    
width:150px;          
}


.desctextcenter{
font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;    
letter-spacing: -0.015em;
text-align: left;
margin-bottom: 50px;
color: #FFFFFF!important;
background-color:#6699FF;
border-radius: 25px;
padding-top:10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;    
width:215px;
margin-left: 90px;    
}

.desctextcenter1{
font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
align-items: center;
letter-spacing: -0.015em;
color: #5F6368;
text-align: center; 
margin-bottom: 40px;
}

.desctextcenter2{
font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
text-align: center;
align-items: center;
letter-spacing: -0.015em;
color: #5F6368;
}
.paddingZero{
    padding: 0!important;
}

.desctext{
font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 30px;
letter-spacing: -0.015em;
text-align: justified;
margin-bottom: 100px;
margin-left: 10px;    
color: #5F6368!important;    
}

.seperator{
    width:100%;
    height: 1px;
    background-color: #DADCE0;
    margin-bottom: 50px;
}
.seperator1{
    width:100%;
    height: 1px;
    background-color: #5F6368;
    margin-bottom: 50px;
    overflow: hidden !important;
    margin-top: 50px;
}

.seperator2{
    width:100%;
    height: 1px;
    background-color: #DADCE0;
    margin-bottom: 50px;
    overflow: hidden !important;
    margin-top: 84px;
}
/* [1] The container */
.img-hover-zoom {
   /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

img{border:0;}
/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 10 ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(0.98);
}

.imghover:hover {
  opacity: 0.5;
}

.footer {
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
.footer1{
    font-family: 'Outfit';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 30px;
letter-spacing: -0.015em;
color: #5F6368; 
margin-top: 31px;    
}



.hoverimg{
    margin-right: 20px;
    width: 440px;
    height: 317px;
    background: url("footer1.png") no-repeat;
    background-size: contain;
    transition: .4s ease-out; 
    
}
.hoverimg:hover{
    transition: .4s ease-out;
    background: url("footer1hover.png") no-repeat;
    background-size: contain;
}

.hoverimg1{
    width: 440px;
    height: 317px;
    background: url("footer2.png") no-repeat;
    background-size: contain;
    transition: .4s ease-out; 
    
}
.hoverimg1:hover{
    transition: .4s ease-out;
    background: url("footer2hover.png") no-repeat;
    background-size: contain;
}


