.navbar-nav {
    width: 100%!important;
    text-align: center!important;    
}

.navbar-default{
    background-color: white!important;
    border-width: 0px 0px 3px 0px !important;
    border-color: #605D66 !important;
}


#navcss{
float:none !important;
display: inline-block!important;
}

#navcss a{
font-family: 'Product Sans', sans-serif;
font-size: 18px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.005em;
text-align: center;
font-size: 26px;
margin-top: 15px;
}

.navcss1{
background-image: url(logo.png);
width: 94px;
height: 79px;
margin: 10px;    
}

.logocss img{
width: 34px;
height: 34px;
margin-top: 25px;
margin-right: 14px;
}

.img1{
    margin-left: 25px;
    margin-top: 25px;
}

.flex-container {
    display: flex;
}
.flex-container2 {
    display: flex;
    text-align: center;
}

.flex-child {
    flex: 1;
    margin-bottom: 25px;
    
}  

.flex-child:first-child {
    margin-right: 20px;
    margin-top: 25px;
    margin-left: 30px;
}

.fontStyle{
font-family: 'Product Sans Light', sans-serif;
font-size: 3vw;
font-weight: 600;
letter-spacing: 0.005em;
text-align: left;
color: #5F6368;    
margin-top: 170px;
margin-left: 40px;    
}

.fontStyle1{
font-family: Product Sans;
font-size: 2vw;
font-weight: 300;
color: #5F6368;    
line-height: 30px;
letter-spacing: 0.005em;
text-align: left;
margin-left: 40px;
margin-top: 10px;
}

